/* video {
  display: none;
} */

.scroller-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.scroller-image {
  position: absolute;
  width: 95%;
  height: auto;
  top: 150%;

}



.scroller-image.visible {
  /* opacity: 1; */
  /* top: 0; */
  animation: scroll;
  animation-duration:4s;
}

@keyframes scroll {
  from {top: 150%;}
  to {top: -100%;}
}

.scroller-image.hidden {
  display: none;
}
