/* video {
  display: none;
} */


.ticker-container {


  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left:0;

}

.ticker {
  display: flex;
  flex-direction: column;
  position: relative;
  will-change: transform;
  align-items: center;
}

.ticker-item {
  flex-shrink: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselimage {
  width: 300px;

  margin-top: 0px;
  margin-bottom: 25px;
  opacity: 0.9;
  mix-blend-mode: exclusion;
}

.carouselimage img,
.carouselimage video{
  width: 100%;

  object-fit: contain;
}